<h1>Listado de Cursos</h1>

<table>
  <tr>
    <th>Curso</th>
  </tr>

<% @years.each do |year| %>
  <tr>
    <td><%=h year.start_year %></td>
    <td><%= link_to 'Mostrar', year %></td>
    <td><%= link_to 'Modificar', edit_year_path(year) %></td>
    <td><%= link_to 'Eliminar', year, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Curso', new_year_path %>