<% form_for([@signature, @part, @exam]) do |f| %>
  <%= f.hidden_field :part_id %>

  <%= f.error_messages %>

  <h3>
    <%= f.label :fecha %><br />
    <%= f.date_select :date %>
  </h3>

  <h3>Calificacion de los alumnos</h3>

  <table>
  <% f.fields_for :evaluations do |builder| %>
    <%= render 'evaluations/fields', :f => builder %>
  <% end %>
  </table>

  <p>
    <button class="pill button"><span class="check icon"></span>Guardar</button>
  </p>
<% end %>
