<h2>Profesores que imparten esta asignatura en el curso <%= @year_selected.to_s %>:</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>E-mail</th>
    <th></th>
  </tr>
<% @signature.signatures_teachers.find(:all, :conditions=>['year_id=?',@year_selected]).each do |signatures_teacher| %>
  <tr class="<%= cycle('par','impar') %>">
    <td><%=h signatures_teacher.teacher.name %></td>
    <td><%=h signatures_teacher.teacher.email %></td>
    <td class="botones">
      <%= link_to '<span class="cross icon"></span><span>Eliminar asignación</span>',
          {:action=>'destroy_teacher', :id=>@signature,
          :year_id=>@year_selected.id, :teacher_id=>signatures_teacher.teacher_id},
          :confirm => '¿Estás seguro?', :method => :delete ,
          :class=>"negative pill button" %>
    </td>
  </tr>
<% end %>
</table>
<% @signatures_teacher ||= @signature.signatures_teachers.build %>
<% form_for(@signatures_teacher, :url=>{:action=>'create_teacher', :id=>@signature}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :teacher_id, 'Profesor' %><br />
    <%= f.collection_select :teacher_id, new_teachers, :id, :name, :prompt => 'Seleccionar profesor' %>
    <%= f.hidden_field :year_id, :value=>@year_selected.id %>
    <%#= f.submit 'Asignar' %>
    <button class="pill button"><span class="plus icon"></span>Asignar</button>
  </p>
<%end%>

<br />
<br />
<br />

<h2>Alumnos matriculados en la asignatura en el curso <%= @year_selected.to_s %>:</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Expediente</th>
    <th>Tipo matrícula</th>
    <th></th>
  </tr>

 <% @signature.signatures_students.find(:all, :conditions=>['year_id=?',@year_selected]).each do |signatures_student| %>
    <tr class="<%= cycle('impar', 'par') %>">
      <td><%=h signatures_student.student.name %></td>
      <td><%=h signatures_student.student.expedient %></td>
      <td><%= signatures_student.ordinary ? 'Ordinaria' : 'Extraordinaria' %></td>
      <td class="botones">
        <%= link_to '<span class="cross icon"></span><span>Eliminar matricula</span>',
            {:action=>'destroy_student', :id=>@signature,
            :year_id=>@year_selected.id, :student_id=>signatures_student.student_id},
            :confirm => '¿Estás seguro?', :method => :delete ,
            :class=>"negative pill button" %>
    </td>
    </tr>
  <% end %>
</table>

<% @signatures_student ||= @signature.signatures_students.build %>
<% form_for(@signatures_student, :url=>{:action=>'create_student', :id=>@signature}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id, 'Alumno' %><br />
    <%= f.collection_select :student_id, new_students, :id, :name, :prompt => 'Seleccionar alumno' %>
    <%= f.select :ordinary, options_for_select({'Ordinaria'=>true, 'Extraordinaria'=>false}, @signatures_student.ordinary) %>
    <%= f.hidden_field :year_id, :value=>@year_selected.id %>

   <button class="pill button"><span class="plus icon"></span>Matricular</button>
  </p>
<% end %>