<% signatures_student = current_user.signatures_students.find :first,
  :conditions=>{:signature_id=>@signature} -%>
<table class="nota">
  <tr>
    <th></th>
    <% if  signatures_student.calification2 || signatures_student.calification1 %>
      <th>Notas <%= @year_selected.to_s%></th>
    <% end %>
  </tr>
  <tr>
    <% unless signatures_student.calification1.blank? %>
      <td class="convocatoria">Convocatoria 1</td>
      <td class="nota1 <%= (signatures_student.calification1 >= 5) ? 'aprobado' : 'suspenso' %>">
        <%=h signatures_student.calification1%>
      </td>
    <% end %>
  </tr>
  <tr>
    <% unless signatures_student.calification2.blank? %>
      <td class="convocatoria">Convocatoria 2</td>
      <td class="nota2 <%= (signatures_student.calification2 >= 5) ? 'aprobado' : 'suspenso' %>">
        <%=h signatures_student.calification2%>
      </td>
    <% end %>
  </tr>
</table>
<h2>Profesores que imparten esta asignatura en el curso <%= @year_selected.to_s %>:</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>E-mail</th>
    <th></th>
  </tr>
<% @signature.teachers.find(:all, :conditions=>['year_id=?',@year_selected]).each do |teacher| %>
  <tr class="<%= cycle('par','impar') %>">
    <td><%=h teacher.name %></td>
    <td><%=link_to teacher.email, "mailto:#{teacher.email}" %></td>
  </tr>
<% end %>
</table>

<br />
<br />
<br />

<% if @signature.parts.any? %>
<div class="row header">
  <div class="column big">Descripción</div>
  <div class="column small">Mínimo compensable</div>
  <div class="column small">Ponderación</div>
  <div class="column small">Fecha</div>
  <div class="column small">Nota</div>
</div>
<% parts = @signature.parts.all(:conditions=>{:parent_id=>nil,
    :ordinary=>signatures_student.ordinary}) -%>
<% parts.each do |part| -%>
  <%= render :partial => 'parts/show_student', :locals=>{:part=>part} %>
<% end -%>
<div class="salto"></div>
<% end %>