<% form_for([@signature, @part]) do |f| %>
  <%= hidden_field_tag :ordinary, true if @ordinary %>
  <%= hidden_field_tag :parent_id, @parent.id if @parent %>

  <% if @part.new_record? -%>
    <%= f.hidden_field :ordinary %>
    <%= f.hidden_field :signature_id %>
    <%= f.hidden_field :year_id %>
    <%= f.hidden_field :parent_id %>
  <% end -%>

  <%= f.error_messages %>

  <p>
    <%= f.label :description, 'Descripción' %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :weighted, 'Ponderación' %><br />
    <%= f.text_field :weighted, :class=>'num' %>
  </p>
  <p>
    <%= f.label :min_compensable,'Mínimo compensable' %><br />
    <%= f.text_field :min_compensable, :class=>'num' %>
  </p>
  <p>
    <button class="pill button"><span class="check icon"></span>Guardar</button>
  </p>
<% end %>
