<h1>Listado de Bloques</h1>

<table>
  <tr>
    <th>Descripción</th>
    <th>Porcentaje</th>
    <th>Mínimo compensable</th>
    <th>Tipo Matrícula</th>
    <th>Asignatura</th>
    <th>Curso Académico</th>
  </tr>

<% @parts.each do |part| %>
  <tr class="<%= cycle('impar', 'par') %>">
    <td><%=h part.description %></td>
    <td><%=h part.weighted %></td>
    <td><%=h part.min_compensable %></td>
    <td><%=h part.ordinary %></td>
    <td><%=h part.signature_id %></td>
    <td><%=h part.year_id %></td>

    <td> 
      <%link_to part ,:class =>"left primary pill button" do%>
        <span class="magnifier icon"></span><span>Mostrar</span>
      <%end%>
      <% link_to edit_part_path(part), :class=>"middle pill button" do%>
        <span class="pen icon"></span><span>Modificar</span>
      <%end%>
      <%link_to part ,:confirm => '¿Estás seguro?', :method => :delete ,:class =>"right negative pill button" do%>
        <span class="cross icon"></span><span>Eliminar</span>
      <%end%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%link_to new_signature_part_path ,:class=>"button" do%>
  <span class="plus icon"></span><span>Nuevo bloque</span>
<%end%>

