<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title || "Gestor de notas para el curso #{@year_selected.to_s}" %></title>
  <%= stylesheet_link_tag 'scaffold', 'application' %>
</head>
<body>
    <div class="pagina">
      <h1 class="cabecera">
        <a href="http://localhost:3000">
          <img alt="logo" src="images/logo-universidad-pontificia-salamanca-bis.gif"/>
        </a>
      Gestor de notas para el curso <%= @year_selected.to_s %>
      </h1>

    <%= render 'users/user_bar' %>

    <p class="flash notice"><%= flash[:notice] %></p>
    <p class="flash error"><%= flash[:error] %></p>

    <%= yield %>
      <div class="contacto">
     <h4>Paloma Vicente Bonafonte 57640 pvicentebo@hotmail.com<br/>
                    Daniel Martín Martín 58102 danielkidd001@hotmail.com</h4>
  </div>
  </div>

</body>
</html>
