<% @student.password = @student.password_confirmation = nil %>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login, 'Usuario' %><br />
    <%= f.text_field :login, :autocomplete=>'off' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :autocomplete=>'off' %>
  </p>
  <p>
    <%= f.label :name, 'Nombre' %><br />
    <%= f.text_field :name, :autocomplete=>'off' %>
  </p>
    <p>
    <%= f.label :expedient, 'Expediente' %><br/>
    <%= f.text_field :expedient, :autocomplete=>'off' %>
  </p>
  <p>
    <%= f.label :password, 'Contraseña' %><br />
    <%= f.password_field :password, :autocomplete=>'off' %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br/>
    <%= f.password_field :password_confirmation, :autocomplete=>'off' %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>
