<br/>
<h1>Listado de Alumnos</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Nombre</th>
    <th>Expediente</th>
  </tr>

<% @students.each do |student| %>
  <tr class="<%= cycle('impar', 'par') %>">
    <td><%=h student.login %></td>
    <td><%=h student.email %></td>
    <td><%=h student.surname_name %></td>
    <td><%=h student.expedient %></td>

    <td class="botones">
  <%unless (current_user.is_a? Administrator)%>
      <%link_to student ,:class =>"pill button" do%>
      <span class="magnifier icon"></span><span>Mostrar</span>
    <%end%>
      <%end%>

    <% if (current_user.is_a? Administrator) %>
       <%link_to student ,:class =>"left pill button" do%>
      <span class="magnifier icon"></span><span>Mostrar</span>
    <%end%>
   
    <%end%>

    <% if (current_user.is_a? Administrator)%>
    <%link_to student ,:confirm => '¿Estás seguro?', :method => :delete ,:class =>"right negative pill button" do%>
      <span class="trash icon"></span><span>Eliminar</span>
    <%end%>
    </td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if current_user.is_a? Administrator %>
  <%link_to new_student_path ,:class=>"pill button" do%>
    <span class="user icon"></span><span>Nuevo alumno</span>
  <%end%>
<%end%>