<h1>Datos del estudiante</h1>
<p>
  <b>Usuario:</b>
  <%=h @student.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @student.name %>
</p>

<p>
  <b>Expediente:</b>
  <%=h @student.expedient %>
</p>

<h2>Asignaturas del Alumno</h2>
<% @student.find_signatures(@year_selected).each do |signature| %>
  <p><%= signature.name %></p>
<% end %>

<% if (current_user.is_a? Administrator) %>
    <%  link_to edit_student_path(@student), :class=>"left pill button" do%>
      <span class="pen icon"></span><span>Modificar</span>
    <%end%>
  <% elsif (current_user == @student)  %>
  <%  link_to edit_student_path(@student), :class=>"left pill button" do%>
      <span class="key icon"></span><span>Cambiar contraseña</span>
    <%end%>
      <%end%>
      <%link_to students_path,:class=>"right pill button" do%>
      <span class="home icon"></span><span>Volver al listado</span>
      <%end%>
